<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
	<title>Home</title>
	<link rel="shortcut icon" type="image/x-icon" href="../assets/img/3.png">
	<link rel="stylesheet" href="../assets/css/bootstrap.min.css">
	<link rel="stylesheet" href="../assets/plugins/fontawesome/css/fontawesome.min.css">
	<link rel="stylesheet" href="../assets/plugins/fontawesome/css/all.min.css">
	<link rel="stylesheet" href="../assets/css/feathericon.min.css">
	<link rel="stylesheet" href="../assets/plugins/datatables/datatables.min.css">
	<link rel="stylesheet" href="../assets/plugins/morris/morris.css">
	<link rel="stylesheet" type="text/css" href="../assets/css/bootstrap-datetimepicker.min.css">
	<link rel="stylesheet" href="../assets/css/style.css">
</head>

<body>
<div class="main-wrapper">
	<div class="header">
		<div class="header-left">
			<a href="../templates/login1.html" class="logo"> <img src="../assets/img/2.png" width="50" height="70" alt="logo"> <span class="logoclass">Phòng Trọ</span> </a>
			<a href="../templates/login1.html" class="logo logo-small"> <img src="../assets/img/2.png" alt="Logo" width="30" height="30"> </a>
		</div>
		<a href="javascript:void(0);" id="toggle_btn"> <i class="fe fe-text-align-left"></i> </a>
		<ul class="nav user-menu">
			<li class="nav-item dropdown has-arrow">
				<a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown"> <span class="user-img"><img class="rounded-circle" src="../assets/img/1.png" width="31" alt="HAHAHA"></span> </a>
				<div class="dropdown-menu">
					<div class="user-header">
						<div class="avatar avatar-sm"> <img src="../assets/img/1.png" alt="User Image" class="avatar-img rounded-circle"> </div>
						<div class="user-text">
							<h6 id="username">Người Thuê</h6> <!-- Thêm tên người dùng động -->
							<p class="text-muted mb-0">Người Thuê</p>
						</div>
					</div>
					<a class="dropdown-item" href="../templates/CUS_customer.html">Thông Tin Cá Nhân</a>
					<a class="dropdown-item" href="../templates/CUS_change-password.html">Đổi Mật Khẩu</a>
					<a class="dropdown-item" href="#" onclick="logout()">Đăng Xuất</a>
				</div>
			</li>
		</ul>
	</div>
	<div class="sidebar" id="sidebar">

	</div>
	<div class="page-wrapper">
		<div class="content container-fluid">
			<div class="page-header">
				<div class="row align-items-center">
					<div class="col">
						<div class="mt-5">
							<h4 class="card-title float-left mt-2">Dịch Vụ</h4> </div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<div class="card card-table">
						<div class="card-body booking_card">
							<div class="table-responsive">
								<table class="datatable table table-stripped table table-hover table-center mb-0">
									<thead>
									<tr>
										<th>ID</th>
										<th class="text-center">Tên Dịch Vụ</th>
										<th class="text-center">Giá Dịch Vụ</th>
									</tr>
									</thead>
									<tbody id="dich-vu-table-body">
									<!-- Các dịch vụ sẽ được chèn vào đây -->
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script src="../assets/js/jquery-3.5.1.min.js"></script>
<script src="../assets/js/popper.min.js"></script>
<script src="../assets/js/bootstrap.min.js"></script>
<script src="../assets/js/moment.min.js"></script>
<script src="../assets/js/select2.min.js"></script>
<script src="../assets/plugins/slimscroll/jquery.slimscroll.min.js"></script>
<script src="../assets/js/bootstrap-datetimepicker.min.js"></script>
<script src="../assets/plugins/datatables/datatables.min.js"></script>
<script src="../assets/js/script.js"></script>
<script>
	function checkLogin() {
		fetch('http://localhost:3001/userinfo', {
			credentials: 'include'
		})
				.then(response => {
					if (response.ok) {
						return response.json();
					} else {
						window.location.href = '../templates/login1.html';
					}
				})
				.then(user => {
					document.getElementById('user-name-display').textContent=user.TenKhachHang;
					fetchInvoices(user.ID_KhachHang); // Fetch invoices after login
				})
				.catch(error => {
					console.error('Lỗi khi kiểm tra đăng nhập:', error);
				});
	}

	async function logout() {
		try {
			const response = await fetch('http://localhost:3001/logout', {
				method: 'POST',
				credentials : 'include'
			});
			if (response.ok) {
				window.location.reload();
			} else {
				alert('Đăng xuất thất bại');
			}
		} catch (error) {
			console.error('Lỗi khi đăng xuất:', error);
			alert('Đã xảy ra lỗi khi đăng xuất');
		}
	}
	checkLogin();
	$(document).ready(function() {
		// Load sidebar content
		$('#sidebar').load('../templates/sidebar_CUS.html', function() {
			// Bind events after sidebar is loaded
			$('.submenu > a').on('click', function(e) {
				e.preventDefault();
				var submenu = $(this).next('.submenu_class');
				if (submenu.is(':visible')) {
					submenu.slideUp();
				} else {
					submenu.slideDown();
				}
			});
		});

		// Load services data
		$.ajax({
			url: 'http://localhost:3001/DichVu',
			type: 'GET',
			success: function(response) {
				const dichVuTableBody = document.getElementById('dich-vu-table-body');
				response.forEach(dv => {
					const row = document.createElement('tr');
					row.innerHTML = `
							<td>${dv.ID_DichVu}</td>
							<td class="text-center">${dv.TenDichVu}</td>
							<td class="text-center">${dv.GiaDichVu} đ</td>
						`;
					dichVuTableBody.appendChild(row);
				});
			},
			error: function(error) {
				console.error('Error fetching data:', error);
			}
		});
	});
</script>
</body>

</html>
