<!-- sidebar.html -->
<div class="sidebar-inner slimscroll">
    <div id="sidebar-menu" class="sidebar-menu">
        <ul>
            <li><a href="../templates/AD_dashbroard.html"><i class="fas fa-tachometer-alt"></i> <span>Dashboard</span></a></li>
            <li class="list-divider"></li>
            <li class="submenu">
                <a href="#"><i class="far fa-clipboard"></i> <span> Hợp Đồng Thuê </span> <span class="menu-arrow"></span></a>
                <ul class="submenu_class" style="display: none;">
                    <li><a class="active" href="../templates/AD_all-contract.html"> Tất Cả </a></li>
                    <li><a href="../templates/AD_add-contract.html"> Thêm Hợp Đồng </a></li>
                </ul>
            </li>
            <li class="submenu">
                <a href="#"><i class="fas fa-user"></i> <span> Người Thuê Phòng </span> <span class="menu-arrow"></span></a>
                <ul class="submenu_class" style="display: none;">
                    <li><a href="../templates/AD_all-customer.html"> Tất cả  </a></li>
                </ul>
            </li>
            <li class="submenu">
                <a href="#"><i class="fas fa-door-closed"></i> <span> Phòng </span> <span class="menu-arrow"></span></a>
                <ul class="submenu_class" style="display: none;">
                    <li><a href="../templates/AD_all-room.html">Tất Cả </a></li>
                    <li><a href="../templates/AD_add-room.html"> Thêm Phòng </a></li>
                </ul>
            </li>
            <li class="submenu">
                <a href="#"><i class="fas fa-thumbtack"></i> <span> Dịch Vụ </span> <span class="menu-arrow"></span></a>
                <ul class="submenu_class" style="display: none;">
                    <li><a href="../templates/AD_service.html">Dịch Vụ</a></li>
                    <li><a href="../templates/AD_servicedetail.html"> Chi Tiết Dịch Vụ </a></li>
                </ul>
            </li>
            <li class="submenu">
                <a href="#"><i class="far fa-money-bill-alt"></i> <span> Tài Chính </span> <span class="menu-arrow"></span></a>
                <ul class="submenu_class" style="display: none;">
                    <li><a href="../templates/AD_bill.html">Hóa Đơn </a></li>
                    <li><a href="../templates/AD_payment.html">Thanh Toán </a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>
